# Jupyter Notebook
**/.ipynb_checkpoints
**/profile_default/
**/ipython_config.py
**/__pycache__

# Excel temporary files:
**/~$*

# Mac
**/.DS_Store

# Old stuff, probably not relevant anymore:
**/compost

# Development stuff:
**/dev_stuff
sandbox.ipynb
/plans # Feature implementation plans
/.claude # Only need locally
/trnaseq # New mods to the workflow

# Data folder (to big for Github)
/projects/**/*.fasta
/projects/**/*.fa
/projects/**/*.fastq
/projects/**/*.bz2
/projects/**/data


# Simulation stuff:
utils/code-of-limited-use/sim_data/*
/sim/**/data
/sim/**/sim_data



# In example folder only push the raw_fastq folder
# and some plotting folder to the repo:
/example/data/AdapterRemoval*
/example/data/BC_split*
/example/data/raw_fastq_*
/example/data/stats_collection*
/example/data/SWalign*
/example/data/transcript_mutations/tRNA_database*
/example/data/UMI_trimmed*



# Data from collaborations
/collab









